**Corona Virus Analysis**

In [4]:
#importing libaries
import pandas as pd
import numpy as np
from math import sqrt
from datetime import datetime

In [0]:
#importing csv files
#Data source
#https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

confirm_url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
death_url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
recover_url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'

In [102]:
#Loading  the cumulative raw data from the url
raw_data_confirmed = pd.read_csv(confirm_url)

raw_data_death = pd.read_csv(death_url)

raw_data_recovered = pd.read_csv(recover_url)

print("Top 5 data of confirmed:")


raw_data_confirmed.head()

Top 5 data of confirmed:

  Province/State Country/Region      Lat  ...  3/12/20  3/13/20  3/14/20
0            NaN       Thailand  15.0000  ...       70       75       82
1            NaN          Japan  36.0000  ...      639      701      773
2            NaN      Singapore   1.2833  ...      178      200      212
3            NaN          Nepal  28.1667  ...        1        1        1
4            NaN       Malaysia   2.5000  ...      149      197      238

[5 rows x 57 columns]

In [103]:
#Shape of the dataset
print("Shape of confirmed",raw_data_confirmed.shape)
print("Shape of death",raw_data_death.shape)
print("Shape of recovered",raw_data_recovered.shape)

Shape of confirmed (442, 57)
Shape of death (442, 57)
Shape of recovered (442, 57)

In [0]:
#Un-pivoting the data

raw_data_confirmed2 = pd.melt(raw_data_confirmed, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])

raw_data_death2 = pd.melt(raw_data_death, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])

raw_data_recovered2 = pd.melt(raw_data_recovered, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])

In [108]:
print("The Shape of Confirmed is: ", raw_data_confirmed2.shape)
print("The Shape of death is: ", raw_data_death2.shape)
print("The Shape of recovered is: ", raw_data_recovered2.shape)

The Shape of Confirmed is:  (23426, 6)
The Shape of death is:  (23426, 6)
The Shape of recovered is:  (23426, 6)

In [109]:
raw_data_confirmed2.head()

  Province/State Country/Region      Lat      Long     Date  value
0            NaN       Thailand  15.0000  101.0000  1/22/20      2
1            NaN          Japan  36.0000  138.0000  1/22/20      2
2            NaN      Singapore   1.2833  103.8333  1/22/20      0
3            NaN          Nepal  28.1667   84.2500  1/22/20      0
4            NaN       Malaysia   2.5000  112.5000  1/22/20      0

In [115]:

# Investigating the NULL values
raw_data_confirmed2.isnull().sum()

Province/State    7155
Country/Region       0
Lat                  0
Long                 0
Date                 0
Confirmed            0
dtype: int64

In [116]:
# Dealing with NULL values

raw_data_confirmed2['Province/State'].fillna(raw_data_confirmed2['Country/Region'], inplace=True)
raw_data_death2['Province/State'].fillna(raw_data_death2['Country/Region'], inplace=True)
raw_data_recovered2['Province/State'].fillna(raw_data_recovered2['Country/Region'], inplace=True)

raw_data_confirmed2.isnull().sum()

raw_data_death2.isnull().sum()
raw_data_recovered2.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Date              0
Recovered         0
dtype: int64

In [117]:
raw_data_death2.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Date              0
Death             0
dtype: int64

In [118]:
raw_data_recovered2.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Date              0
Recovered         0
dtype: int64

In [0]:
raw_data_confirmed2.head()

  Province/State Country/Region      Lat      Long     Date  value
0       Thailand       Thailand  15.0000  101.0000  1/22/20      2
1          Japan          Japan  36.0000  138.0000  1/22/20      2
2      Singapore      Singapore   1.2833  103.8333  1/22/20      0
3          Nepal          Nepal  28.1667   84.2500  1/22/20      0
4       Malaysia       Malaysia   2.5000  112.5000  1/22/20      0

In [0]:
raw_data_confirmed2.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
value               int64
dtype: object

In [0]:
# Converting the datatype of date column to date datatype

raw_data_confirmed2['Date'] = pd.to_datetime(raw_data_confirmed2['Date'])
raw_data_death2['Date'] = pd.to_datetime(raw_data_death2['Date'])
raw_data_recovered2['Date'] = pd.to_datetime(raw_data_recovered2['Date'])

In [111]:
raw_data_confirmed2.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
value                      int64
dtype: object

In [0]:

# Renaming the value column to  Confirmed , death, recovered
raw_data_confirmed2.columns = raw_data_confirmed2.columns.str.replace('value', 'Confirmed')
raw_data_death2.columns = raw_data_death2.columns.str.replace('value', 'Death')
raw_data_recovered2.columns = raw_data_recovered2.columns.str.replace('value', 'Recovered')

In [113]:
raw_data_confirmed2.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
dtype: object

In [114]:
raw_data_death2.head()

  Province/State Country/Region      Lat      Long       Date  Death
0            NaN       Thailand  15.0000  101.0000 2020-01-22      0
1            NaN          Japan  36.0000  138.0000 2020-01-22      0
2            NaN      Singapore   1.2833  103.8333 2020-01-22      0
3            NaN          Nepal  28.1667   84.2500 2020-01-22      0
4            NaN       Malaysia   2.5000  112.5000 2020-01-22      0

In [0]:
raw_data_recovered2.head()

  Province/State Country/Region      Lat      Long       Date  Recovered
0       Thailand       Thailand  15.0000  101.0000 2020-01-22          0
1          Japan          Japan  36.0000  138.0000 2020-01-22          0
2      Singapore      Singapore   1.2833  103.8333 2020-01-22          0
3          Nepal          Nepal  28.1667   84.2500 2020-01-22          0
4       Malaysia       Malaysia   2.5000  112.5000 2020-01-22          0

In [119]:
# printing shapes before the join
print("The Shape of Cornirmed is: ", raw_data_confirmed2.shape)
print("The Shape of Cornirmed is: ", raw_data_death2.shape)
print("The Shape of Cornirmed is: ", raw_data_recovered2.shape)

The Shape of Cornirmed is:  (23426, 6)
The Shape of Cornirmed is:  (23426, 6)
The Shape of Cornirmed is:  (23426, 6)

In [123]:
#Joining the dataset into 1 complete dataset


full_join = raw_data_confirmed2.merge(raw_data_death2[['Province/State','Country/Region','Date','Death']], 
                                      how = 'outer', 
                                      left_on = ['Province/State','Country/Region','Date'], 
                                      right_on = ['Province/State', 'Country/Region','Date'])

print("Shape of first join: ", full_join.shape)

# full join with Recovered
CoronaData = full_join.merge(raw_data_recovered2[['Province/State','Country/Region','Date','Recovered']], 
                                      how = 'outer', 
                                      left_on = ['Province/State','Country/Region','Date'], 
                                      right_on = ['Province/State', 'Country/Region','Date'])

print("Shape of second join: ", CoronaData.shape)
CoronaData.head()

Shape of first join:  (23426, 7)
Shape of second join:  (23426, 8)

  Province/State Country/Region      Lat  ...  Confirmed Death  Recovered
0       Thailand       Thailand  15.0000  ...          2     0          0
1          Japan          Japan  36.0000  ...          2     0          0
2      Singapore      Singapore   1.2833  ...          0     0          0
3          Nepal          Nepal  28.1667  ...          0     0          0
4       Malaysia       Malaysia   2.5000  ...          0     0          0

[5 rows x 8 columns]

In [126]:
# checking for null values (especially long and lat)
CoronaData.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Date              0
Confirmed         0
Death             0
Recovered         0
dtype: int64

In [0]:
# Adding Month and Year as a new Column
CoronaData['Month-Year'] = CoronaData['Date'].dt.strftime('%b-%Y')

In [128]:
CoronaData.head()

  Province/State Country/Region      Lat  ...  Death Recovered  Month-Year
0       Thailand       Thailand  15.0000  ...      0         0    Jan-2020
1          Japan          Japan  36.0000  ...      0         0    Jan-2020
2      Singapore      Singapore   1.2833  ...      0         0    Jan-2020
3          Nepal          Nepal  28.1667  ...      0         0    Jan-2020
4       Malaysia       Malaysia   2.5000  ...      0         0    Jan-2020

[5 rows x 9 columns]

In [140]:
full_join2 = CoronaData.copy()

#creating a new date columns - 1
full_join2['Date - 1'] = full_join2['Date'] + pd.Timedelta(days=1)
full_join2.rename(columns={'Confirmed': 'Confirmed - 1', 'Death': 'Deaths - 1', 'Recovered': 'Recovered - 1',
                          'Date': 'Date Minus 1'}, inplace=True)

#Joing on the 2 DFs
full_join3 = CoronaData.merge(full_join2[['Province/State', 'Country/Region','Confirmed - 1', 'Deaths - 1', 
                            'Recovered - 1', 'Date - 1', 'Date Minus 1']], how = 'left',
                             left_on = ['Province/State','Country/Region','Date'], 
                             right_on = ['Province/State', 'Country/Region','Date - 1'])

#minus_onedf.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1'}, inplace=True)

full_join3.head()

# Additional Calculations
full_join3['Confirmed Daily'] = full_join3['Confirmed'] - full_join3['Confirmed - 1']
full_join3['Deaths Daily'] = full_join3['Death'] - full_join3['Deaths - 1']
full_join3['Recovered Daily'] = full_join3['Recovered'] - full_join3['Recovered - 1']

print(full_join3.shape)

(23426, 17)

In [141]:
full_join3.head()

  Province/State Country/Region  ...  Deaths Daily  Recovered Daily
0       Thailand       Thailand  ...           NaN              NaN
1          Japan          Japan  ...           NaN              NaN
2      Singapore      Singapore  ...           NaN              NaN
3          Nepal          Nepal  ...           NaN              NaN
4       Malaysia       Malaysia  ...           NaN              NaN

[5 rows x 17 columns]

In [145]:
# Additing manually the numbers for first day

full_join3['Confirmed Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Confirmed']
full_join3['Deaths Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Death']
full_join3['Recovered Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Recovered']

# deleting columns
del full_join3['Confirmed - 1']
del full_join3['Deaths - 1']
del full_join3['Recovered - 1']
del full_join3['Date - 1']
del full_join3['Date Minus 1']

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [146]:

full_join3.head()

  Province/State Country/Region  ...  Deaths Daily  Recovered Daily
0       Thailand       Thailand  ...           0.0              0.0
1          Japan          Japan  ...           0.0              0.0
2      Singapore      Singapore  ...           0.0              0.0
3          Nepal          Nepal  ...           0.0              0.0
4       Malaysia       Malaysia  ...           0.0              0.0

[5 rows x 12 columns]

In [0]:
full_join3.to_csv('CoronaVirus.csv')